BASE_URL=https://kislist.com

# Piotr - właściciel konta, założyciel biura
PIOTR_EMAIL=
PIOTR_PASSWORD=

# Anna - zarządza projektem
ANNA_EMAIL=
ANNA_PASSWORD=

# Marcin - kosztorys
MARCIN_EMAIL=
MARCIN_PASSWORD=

# Michalina - praca w terenie
MICHALINA_EMAIL=
MICHALINA_PASSWORD=

# Klient - odbiorca propozycji i udostępnionej listy
KLIENT_EMAIL=
KLIENT_PASSWORD=

# adres listy KOSZTORYS z projektu testowego
LIST_URL=
